$bp: 1024px;
$background-color_body: #F4F9FF;
$background-color_index: #fff;
$border-color: #DEDEDE;
$font_color: #333333;
$font_large: 18px;
$font_small: 14px;
$width_main-visual: 1000px;
$width_kontent: 600px;

.wrapper {
background-color: $background-color_body;
}

header {

}